$mainBlue: #2f5572;
$mainOrange: #d59541;
$mainGreen: #00857a;

$headerBgColor: $mainGreen;
$headLineColor: $mainGreen;
$featuresBGcolor: $mainGreen;
$sectionTitleColor: $mainGreen;
$footerBgColor: $mainGreen;